@import '../../../../sass/abstract/vars';
@import '../../../../sass/abstract/media-queries';

.container {
  background-color: $white;
  border-radius: 10px;
  margin-top: 2rem;
}

.innerContainer {
  padding: 1.5rem 0;
}

.textBox {
  width: 84%;
  margin: auto;
}

.title {
  font-family: $robotoBold;
  color: $darkNavy;
  font-size: 1.1rem;
}

.description {
  font-family: $roboto;
  color: $lightNavy;
  margin-top: 1.1rem;
  line-height: 1.7rem;
}

.category {
  background-color: $lightGrey;
  font-family: $robotoBold;
  color: $blue;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  display: inline-block;
  text-transform: capitalize;
}

.likesBox {
  width: 84%;
  margin: 1.9rem auto 0;
  display: flex;
  justify-content: space-between;
}

.likesTotal {
  display: flex;
  align-items: center;
}

.likeArrow {
  position: relative;
  right: 7px;
}

.likesTotal {
  background-color: $lightGrey;
  font-family: $robotoBold;
  color: $darkNavy;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
}

.commentBox {
  display: flex;
  width: 2.6rem;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.3rem;
}

.commentBubble {
  width: 1.5rem;
  display: inline-block;
}

.commentsTotal {
  display: inline-block;
  font-family: $robotoBold;
  color: $darkNavy;
}
