@import "../../../../sass/abstract/media-queries";

.container {
  width: 88%;
  margin: 2rem auto;
  padding-bottom: 2rem;
  position: relative;
  top: 7rem;
  max-width: 55rem;

  @include mobileXSm {
    top: 8rem;
  }

  @include mobileMd {
    top: 9rem;
  }

  @include mobileLandscapeXSm {
    top: 7rem;
  }

  @include tabletMd {
    // top: 19rem;
    top: 18rem;
    padding-bottom: 3.5rem;
    margin-top: 0;
  }

  @include laptop {
    margin: 2rem 0;
    width: 100%;
    top: 5rem;
  }

  @include desktopXL {
    margin-top: 3rem;
  }
}

.listContainer {
  flex: 2;

  @include laptop {
    margin-top: 0;
  }
}
