@import '../../../../sass/abstract/media-queries';

.container {
  width: 88%;
  margin: 2rem auto;
  padding-bottom: 2rem;
  position: relative;
  top: 7rem;

  @include mobileXSm {
    top: 8rem;
  }

  @include mobileLg {
    top: 9rem;
  }

  @include mobileLandscapeXSm {
    top: 0;
  }

  @include tabletMd {
    top: 19rem;
    padding-bottom: 3.5rem;
    margin-top: 0;
  }

  @include laptop {
    margin: 2rem auto;
    width: 100%;
  }

  @include desktopXL {
    margin-top: 3rem;
  }
}

.listContainer {
  flex: 2;

  @include laptop {
    margin-top: 4rem;
  }
}
