@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: block;
  src: url('../../assets/fonts/roboto.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-display: block;
  src: url('../../assets/fonts/roboto_bold.woff2') format('woff2');
}
