@import '../../../../sass/abstract/vars';
@import '../../../../sass/abstract/media-queries';

textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.inputBox {
  width: 100%;
}

.textArea {
  width: 100%;
  background-color: $lightGrey;
  padding: 0.5rem;
  border: none;
  resize: none;
  outline-color: $blue;
  border-radius: 5px;
  font-size: 1rem;
}

.visibilityHidden {
  visibility: hidden;
}

.errorText {
  color: $red;
  visibility: visible;
  position: relative;
  top: 0.3rem;
  font-family: $roboto;
  font-size: 0.8rem;
}

.errorOutline {
  outline: 1px solid $red;
}
