@import '../../sass/abstract/vars';
@import '../../sass/abstract/media-queries';

button {
  text-transform: capitalize;
  background-color: $purple;
  color: $white;
  outline: none;
  border: none;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 0.8rem;

  @include mobileSm {
    font-size: 0.9rem;
  }

  @include mobileLg {
    font-size: 1rem;
  }
}

.plusSign {
  position: relative;
  right: 3px;

  @include mobileLg {
    bottom: 1px;
  }
}
