@import '../../../../sass/abstract/vars';
@import '../../../../sass/abstract/media-queries';

.container {
  width: 88%;
  margin: auto;
  margin-top: 1.5rem;
}

.commentsContainer {
  margin-top: 2rem;
  background-color: $white;
  border-radius: 10px;
}

.commentsInnerContainer {
  margin: 2rem auto 0;
  padding: 1.8rem 0;
  width: 84%;
}

.commentsTotal {
  font-family: $robotoBold;
  color: $darkNavy;
}

.goBackBtn {
  display: flex;
  align-items: center;
  width: 6.25rem;
  padding: 0.5rem 0;
  border: none;
  text-transform: capitalize;
  font-family: $robotoBold;
  font-size: 1rem;
  // font-size: 1.2rem;
  color: $grey;
  background-color: $lightGrey;
}

.goBackText {
  position: relative;
  left: 0.7rem;
}

.arrowLeft {
  width: 0.6rem;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editButton {
  text-transform: capitalize;
  background-color: $blue;
  color: $white;
  border: none;
  padding: 0.7rem 0.9rem;
  border-radius: 10px;
  font-size: 0.8rem;
  position: relative;
  font-family: $roboto;
  top: 2px;

  @include mobileXSm {
    padding: 0.8rem;
    font-size: 0.9rem;
  }

  @include mobileSm {
    font-size: 0.9rem;
  }

  @include mobileLg {
    font-size: 1rem;
  }
}

.form {
  background-color: $white;
  display: block;
  margin-top: 2rem;
  // padding: 1rem 0 1rem 0;
  border-radius: 10px;
}

.labelBox,
.buttonBox {
  width: 88%;
  margin: auto;
}

.labelBox {
  padding: 2rem 0;
}

.formLabel {
  display: block;
  font-family: $robotoBold;
  color: $darkNavy;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.textareaBox {
  width: 88%;
  margin: auto;
}

.textarea {
  width: 100%;
  background-color: $lightGrey;
  padding: 0.5rem;
  border: none;
  resize: none;
  outline-color: $blue;
  border-radius: 5px;
  font-size: 1rem;
  display: block;
  margin: auto;
}

.characterCountText {
  display: inline-block;
}

.buttonBox {
  padding: 1.5rem 0 2rem 0;
}

.characterCountText {
  font-family: $roboto;
  color: $lightNavy;
  font-size: 0.8rem;
}

.submitBtn {
  background-color: $purple;
  color: $white;
  font-family: $roboto;
  text-transform: capitalize;
  padding: 0.9rem 0.7rem;
  border: none;
  border-radius: 10px;
}

.visibilityHidden {
  visibility: hidden;
}

.errorText {
  color: $red;
  visibility: visible;
  position: relative;
  bottom: 0.3rem;
  font-family: $roboto;
  font-size: 0.8rem;
}

.errorOutline {
  outline: 1px solid $red;
}
