@import '../../../../sass/abstract/vars';
@import '../../../../sass/abstract/media-queries';

.nav {
  background-color: $darkNavy;
  border-bottom: 1px solid $darkerLightGrey2;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 0.8rem 0 1.4rem 0;
  max-width: 75rem;
}

.goBackBtn {
  display: flex;
  align-items: center;
  width: 6.25rem;
  padding: 0.5rem 0;
  border: none;
  text-transform: capitalize;
  font-family: $robotoBold;
  color: $white;
  background-color: $darkNavy;

  @include laptop {
    cursor: pointer;
  }

  @include desktopXXL {
    font-size: 1.2rem;
  }
}

.goBackText {
  position: relative;
  left: 0.7rem;
  border-bottom: 2px solid transparent;

  @include mobileLg {
    font-size: 1rem;
  }

  @include laptop {
    &:hover {
      border-bottom-color: $white;
    }
  }
}

.arrowLeft {
  width: 0.6rem;
}

.navText {
  display: block;
  color: $white;
  font-family: $robotoBold;
  margin-top: 0.2rem;
  font-size: 1rem;

  @include mobileLg {
    font-size: 1.1rem;
  }

  @include tabletMd {
    margin-top: 0.5rem;
    font-size: 1.4rem;
  }

  @include laptop {
    font-size: 1.5rem;
  }
}

.feedBackBtn {
  text-transform: capitalize;
  background-color: $purple;
  outline-color: $white;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 0.7rem;
  font-size: 0.8rem;
  position: relative;
  top: 5px;
  font-family: $roboto;

  @include mobileXSm {
    padding: 0.8rem;
    font-size: 0.9rem;
  }

  @include mobileSm {
    font-size: 0.9rem;
  }

  @include mobileLg {
    font-size: 1rem;
  }

  @include laptop {
    &:hover {
      background-color: #bf5ce9;
    }
  }
}

.feedBackText {
  color: $white;
}

.plusSign {
  position: relative;
  right: 3px;
  color: $white;

  @include mobileLg {
    bottom: 1px;
  }
}
