@import '../../../../sass/abstract/vars';
@import '../../../../sass/abstract/media-queries';

.container {
  width: 88%;
  margin: auto;
  margin-top: 1.5rem;
}

.goBackBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.25rem;
  padding: 0.5rem 0;
  outline: none;
  border: none;
  text-transform: capitalize;
  font-family: $robotoBold;
  font-size: 1.2rem;
  color: $grey;
}

.goBackText {
  position: relative;
  right: 5px;
}

.arrowLeft {
  width: 0.6rem;
}

.outerContainer {
  background-color: $white;
  width: 100%;
  margin-top: 3.1rem;
  border-radius: 5px;
}

.innerContainer {
  width: 88%;
  margin: auto;
}

.plusSign {
  position: relative;
  bottom: 1.8rem;
}

.formContainer {
  width: 100%;
  padding-bottom: 3rem;
}

.formContainer h1 {
  margin-bottom: 2rem;
  font-family: $robotoBold;
  text-transform: capitalize;
  color: $darkNavy;
  font-size: 1.2rem;

  @include mobileLg {
    font-size: 1.5rem;
  }
}

.title {
  font-family: $robotoBold;
  color: $darkNavy;
  text-transform: capitalize;
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}

.titleDetail {
  font-family: $roboto;
  color: $darkNavy;
  margin-bottom: 1.5rem;
  display: block;
}

.inputText {
  width: 100%;
  height: 2.5rem;
  background-color: $offWhite;
  border: none;
  outline-color: $blue;
  font-size: 1rem;
  color: $darkNavy;
  font-family: $roboto;
  border-radius: 5px;

  &:focus {
    box-shadow: 0 0 0.3rem 0.1rem transparent;
  }
}

.inputBox {
  width: 100%;
}

.form div:nth-of-type(2) {
  margin: 2rem 0;
}

.form div:nth-of-type(2) span,
.form div:nth-of-type(3) span {
  line-height: 1.5rem;
}

input[type='text'] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.textArea {
  width: 100%;
  background-color: $offWhite;
  border: none;
  resize: none;
  height: 9rem;
  outline-color: $blue;
  border-radius: 5px;
  font-size: 1rem;

  &:focus {
    box-shadow: 0 0 0.3rem 0.1rem transparent;
  }
}

.dropDownContainer {
  position: relative;
  min-width: 190px;
  background-color: $offWhite;
  z-index: 5;
  border-radius: 5px;

  &:focus {
    box-shadow: 0 0 0.3rem 0.1rem $blue;
  }
}

.activeOptionContainer {
  width: 100%;
  padding: 0.6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    margin-left: 1rem;
  }

  img {
    margin-right: 1rem;
  }
  outline-color: $blue;

  &:focus {
    box-shadow: 0 0 0.3rem 0.1rem transparent;
  }
}

.activeOptionText,
.sortTitle {
  color: $white;
  font-family: $roboto;
  text-transform: capitalize;
  font-size: 1rem;
  color: $darkNavy;
  @include mobileSm {
    top: 0;
  }
}

.arrow {
  font-size: 0.7rem;
  position: absolute;
  right: 0;
}

.selectOptions {
  background-color: $white;
  color: $darkNavy;
  font-family: $roboto;
  cursor: pointer;
  position: absolute;
  box-shadow: 3px 3px 13px #bdbdbd;
  width: 15rem;
  top: 0.9rem;
}

.option {
  text-align: left;
  text-transform: capitalize;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid #d3d1d1;
  display: flex;
  justify-content: space-between;
  margin: 0;

  &:focus {
    box-shadow: 0 0 0.3rem 0.1rem $blue;
  }
}

.selectOptions div:nth-of-type(2) {
  margin: 0;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.submitButton,
.cancelButton {
  font-size: 1rem;
  text-transform: capitalize;
  color: $white;
  padding: 0.7rem 0;
  border: none;
  border-radius: 10px;
  outline-color: $blue;
}

.submitButton {
  background-color: $purple;
  margin-bottom: 1rem;
}

.cancelButton {
  background-color: $darkNavy;
}

main {
  padding-bottom: 3rem;
}
