@import '../../../../sass/abstract/vars';
@import '../../../../sass/abstract/media-queries';

.container {
  width: 90%;
  margin: 2rem auto 0 auto;
  padding-bottom: 2rem;
  max-width: 75rem;

  @include tabletMd {
    margin-top: 0;
  }
}

.roadmapBtnsContainer {
  background-color: $lightGrey;
}

.roadmapBtnsBox {
  width: 90%;
  margin: auto;
  display: flex;
  max-width: 75rem;

  @include tabletMd {
    padding-top: 1rem;
  }
}

.roadmapBtn {
  width: 100%;
  font-size: 0.7rem;
  padding: 1.4rem 0;
  border: 0;
  background-color: $offWhite;
  font-family: $robotoBold;
  color: $darkerLightGrey2;
  border-bottom: 3px solid transparent;
  cursor: pointer;

  @include mobileLg {
    font-size: 0.9rem;
  }
}

.purpleBottomBorder {
  border-bottom: 3px solid $purple;
  color: $darkNavy;
}

.peachBottomBorder {
  border-bottom: 3px solid $peach;
  color: $darkNavy;
}

.cyanBottomBorder {
  border-bottom: 3px solid $cyan;
  color: $darkNavy;
}

.header {
  @include tabletMd {
    display: none;
  }
}

.headerTitle {
  margin-bottom: 0.8rem;
  font-family: $robotoBold;
  color: $darkNavy;
  font-size: 1.2rem;
}

.description {
  font-family: $roboto;
  color: $lightNavy;
  font-size: 0.8rem;
}

.listContainer {
  width: 100%;
  margin-top: 1.5rem;

  @include tabletMd {
    margin-top: -0.4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0.6rem;
  }

  @include laptop {
    margin-top: -0.4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0.6rem;
  }
}

.roadmapCategoryTitle {
  color: $darkNavy;
  text-align: left;
  font-size: 1.1rem;
  border: 1px solid teal;
  width: 100%;
  padding: 1.4rem 0;
  border: 0;
  background-color: $offWhite;
  font-family: $robotoBold;
  border-bottom: 3px solid transparent;
}

.categoryDescription {
  display: block;
  font-family: $roboto;
  color: $lightNavy;
  padding-top: 1rem;
  font-size: 0.9rem;
}

.roadmapBtnsContainer div:nth-of-type(2),
.roadmapBtnsContainer div:nth-of-type(3) {
  padding-left: 1.4rem;
}
