@import '../../../../sass/abstract/vars';
@import '../../../../sass/abstract/media-queries';

.goBackBtn {
  display: flex;
  align-items: center;
  width: 6.25rem;
  padding: 0.5rem 0;
  border: none;
  text-transform: capitalize;
  font-family: $robotoBold;
  font-size: 1rem;
  color: $grey;
  background-color: $lightGrey;
  cursor: pointer;
}

.goBackText {
  position: relative;
  left: 0.7rem;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom-color: $grey;
  }
}

.arrowLeft {
  width: 0.6rem;
}
