@import '../../../../../../sass/abstract/vars';
@import '../../../../../../sass/abstract/media-queries';

textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.inputBox {
  width: 100%;

  @include tabletMd {
    margin-top: 2rem;
  }
}

.textArea {
  width: 100%;
  background-color: $lightGrey;
  padding: 0.5rem;
  border: none;
  resize: none;
  outline-color: $blue;
  border-radius: 5px;
  font-size: 1rem;
  font-family: $roboto;
  border: 1px solid transparent;
  cursor: pointer;

  &:focus {
    border-color: $blue;
  }
}

.visibilityHidden {
  visibility: hidden;
}

.charactersError {
  bottom: 0;
}

.errorOutline {
  outline: 1px solid $red;
}

.characterCountText {
  display: inline-block;
  font-family: $roboto;
  color: $lightNavy;
  font-size: 0.8rem;
  position: relative;
  top: 3px;

  @include tabletMd {
    font-size: 0.9rem;
  }
}

.errorText,
.charactersError {
  color: $red;
  visibility: visible;
  position: relative;
  font-family: $roboto;
  font-size: 0.8rem;
}

.errorText {
  position: relative;
  bottom: 3px;
}

.blueBorder {
  border: 1px solid $blue;
}
