@import '../../../../../../sass/abstract/vars';
@import '../../../../../../sass/abstract/media-queries';

.container {
  width: 88%;
  margin: auto;
  margin-top: 1.5rem;

  @include tabletMd {
    padding-bottom: 4rem;
    width: 70%;
  }

  @include laptop {
    padding-bottom: 4rem;
    width: 60%;
  }

  @include desktopLg {
    width: 54%;
  }
}

.goBackBtn {
  display: flex;
  align-items: center;
  width: 6.25rem;
  padding: 0.5rem 0;
  border: none;
  text-transform: capitalize;
  font-family: $robotoBold;
  font-size: 1rem;
  color: $grey;
  background-color: $lightGrey;

  @include laptop {
    padding: 1.5rem 0;
  }
}

.goBackText {
  position: relative;
  left: 0.7rem;
}

.arrowLeft {
  width: 0.6rem;
}

.outerContainer {
  background-color: $white;
  width: 100%;
  margin-top: 3.1rem;
  border-radius: 5px;
  max-width: 700px;

  @include tabletMd {
    width: 70%;
    margin: 3.1rem auto 0;
    padding: 0 1rem;
  }

  @include laptop {
    width: 78%;
    margin: 3rem auto 0 auto;
  }
}

.innerContainer {
  width: 88%;
  margin: auto;

  @include laptop {
    padding-bottom: 2rem;
    width: 74%;
  }
}

.penIcon {
  position: relative;
  bottom: 1.4rem;
  width: 3.3rem;
}

.formContainer {
  width: 100%;
  padding-bottom: 3rem;
}

.formContainer h1 {
  margin-bottom: 2rem;
  font-family: $robotoBold;
  text-transform: capitalize;
  color: $darkNavy;
  font-size: 1.2rem;
  line-height: 1.6rem;

  @include mobileLg {
    font-size: 1.5rem;
  }

  @include tabletMd {
    padding-bottom: 2rem;
  }

  @include laptop {
    margin-top: 1.5rem;
    line-height: 2rem;
  }
}

.form div:nth-of-type(2) {
  margin: 2rem 0;

  @include tabletMd {
    margin: 1rem 0 0;
  }
}

.form div:nth-of-type(2) span,
.form div:nth-of-type(3) span {
  line-height: 1.5rem;
}

.sortTitle {
  color: $white;
  font-family: $roboto;
  text-transform: capitalize;
  font-size: 1rem;
  color: $darkNavy;
  @include mobileSm {
    top: 0;
  }
}

.buttonBox {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  @include tabletMd {
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 3rem;
  }

  @include laptop {
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 3rem;
  }
}

.submitButton,
.cancelButton,
.deleteButton {
  font-size: 1rem;
  text-transform: capitalize;
  color: $white;
  padding: 0.7rem 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  @include tabletMd {
    padding: 1rem 1.3rem;
  }

  @include laptop {
    padding: 1rem;
    font-size: 0.8rem;
  }

  @include desktop {
    font-size: 1rem;
  }
}

.submitButton {
  background-color: $purple;
  margin-bottom: 1rem;

  @include tabletMd {
    margin-bottom: 0;
  }

  @include laptop {
    margin-bottom: 0;
  }
}

.cancelButton {
  background-color: $darkNavy;
  margin-bottom: 1rem;

  @include tabletMd {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  @include laptop {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }
}

.deleteButton {
  background-color: $red;

  @include tabletMd {
    margin-right: auto;
  }

  @include laptop {
    margin-right: auto;
  }
}

.hide {
  display: none;
}

form div:nth-of-type(3) span:nth-of-type(2) {
  top: 0;
}
