@import '../../../../sass/abstract/vars';
@import '../../../../sass/abstract/media-queries';

.container {
  width: 100%;
  background-color: $darkNavy;
  position: fixed;
  top: 3.8rem;
  z-index: 12;

  @include mobileXSm {
    top: 4.3rem;
  }

  @include mobileSm {
    top: 4.5rem;
  }

  @include mobileLg {
    top: 4.9rem;
  }

  @include mobileIX {
    top: 4.5rem;
  }

  @include mobileI12Pro {
    top: 4.7rem;
  }

  @include mobileXL {
    top: 5.1rem;
  }

  @include mobileLandscapeXSm {
    margin-top: 2.5rem;
    position: static;
  }

  @include mobileLandscapeSm {
    margin-top: 3rem;
  }

  @include mobileLandscapeLg {
    margin-top: 3.5rem;
  }

  @include mobileLandscapeXLg {
    margin-top: 0;
    width: 100vw;
    max-width: 100%;
  }

  @include tabletMd {
    top: 13.7rem;
    max-height: 11.1rem;
  }
}

.contentBox {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0;
}

.selectContainer {
  position: relative;
  min-width: 190px;
}

.selectOptions {
  position: absolute;
  top: 2.5rem;
  right: -2.8rem;
  width: 12rem;
  background-color: $white;
  color: $darkNavy;
  box-shadow: 3px 3px 13px #bdbdbd;
  font-family: $roboto;
  cursor: pointer;
  z-index: 3;
}

.option {
  text-align: left;
  text-transform: capitalize;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid #d3d1d1;
  display: flex;
  justify-content: space-between;
}

.sortTabContainer {
  display: inline-block;
}

.sortText,
.sortTitle {
  color: $white;
  font-family: $roboto;
  text-transform: capitalize;
  font-size: 0.9rem;
  position: relative;
  top: 1px;
  width: 100%;

  @include mobileSm {
    top: 0;
  }

  @include mobileLg {
    font-size: 1rem;
  }
}

.arrow {
  position: absolute;
  left: 7.2rem;
  bottom: 5px;

  @include mobileSm {
    left: 7.6rem;
    width: 0.7rem;
  }

  @include mobileLg {
    width: 0.8rem;
    left: 8.1rem;
  }
}

.checkMark {
  margin-right: 0.8rem;
  display: inline-block;
}

.showDropDown {
  display: block;
}

.feedBackBtn {
  text-transform: capitalize;
  background-color: $purple;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 0.7rem;

  @include mobileXSm {
    padding: 0.8rem;
    font-size: 0.9rem;
  }

  @include mobileSm {
    font-size: 0.9rem;
  }

  @include mobileLg {
    font-size: 1rem;
  }
}

.feedBackText {
  color: $white;
}

.plusSign {
  position: relative;
  right: 3px;
  color: $white;

  @include mobileLg {
    bottom: 1px;
  }
}
