@import '../../sass/abstract/vars';
@import '../../sass/abstract/media-queries';

.header {
  display: none;
  position: fixed;
  left: 6%;
  width: 88%;
  top: 0;
  padding: 1.3rem 0;
  z-index: 10;
  background-color: $lightGrey;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;

  @include tabletMd {
    display: grid;
  }

  @include tabletXLg {
    gap: 3rem;
  }
}

.imgBox {
  position: relative;
}

.imgBox img {
  border-radius: 10px;

  @include tabletXLg {
    width: 264px;
    height: 264px;
    max-width: 290px;
    max-height: 179px;
  }
}

.textBox {
  position: absolute;
  bottom: 2rem;
  left: 1.6rem;
  color: $white;
}

.titleText,
.feedbackText {
  display: block;
}

.titleText {
  font-family: $robotoBold;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}

.feedbackText {
  font-family: $roboto;
}

.buttonsContainer {
  background-color: $white;
  padding: 1.4rem;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.buttonsBox {
  @include tabletLg {
    position: relative;
    left: 6%;
  }
}

.buttons {
  font-family: $robotoBold;
  background-color: $lightGrey;
  color: $blue;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.8rem;

  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3) {
    margin-right: 0.8rem;
    width: 25%;
    padding: 0.5rem 0;
  }

  &:nth-of-type(4),
  &:nth-of-type(5) {
    margin: 1rem 0;
  }

  &:nth-of-type(5) {
    margin-left: 0.5rem;
  }

  &:nth-of-type(6) {
    width: 51%;

    @include tabletMd {
      width: 45%;
      max-width: 5.1rem;
    }
  }
}

.activeButton {
  background: $blue;
  color: $white;
}

.roadMapContainer {
  background-color: $white;
  padding: 1.6rem 1.5rem;
  border-radius: 15px;

  div:nth-of-type(2) span:first-child {
    background-color: $peach;
  }

  div:nth-of-type(3) span:first-child {
    background-color: $purple;
  }

  div:nth-of-type(4) span:first-child {
    background-color: $blue;
  }

  @include mobileLandscapeXSm {
    width: 30%;
    margin-top: 14%;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.3rem;
}

.roadMapTitle {
  text-transform: capitalize;
  color: $darkNavy;
  font-size: 1.3rem;
  font-family: $robotoBold;
}

.viewLink {
  display: inline-block;
  text-transform: capitalize;
  color: $blue;
  font-family: $robotoBold;
  font-size: 0.9rem;
  position: relative;
  top: 2px;

  @include mobileLg {
    font-size: 1rem;
    top: 1px;
  }
}

.roadMapRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.8rem;
}

.colorCircle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.roadMapStatusBox {
  display: flex;
  align-items: center;
}

.status {
  margin-left: 1rem;
  text-transform: capitalize;
  font-family: $roboto;
  color: $lightNavy;
  font-size: 1.1rem;
}

.taskAmount {
  font-family: $robotoBold;
  color: $darkNavy;
  font-size: 1.1rem;
}
