$purple: #ad1fea;
$blue: #4661e6;
$darkNavy: #373f68;
$lightNavy: #3a4374;
$grey: #647196;
$darkerLightGrey: #f7f8fd;
$lightGrey: #f2f4ff;
$peach: #f49f85;
$cyan: #62befa;
$white: #fff;
$red: #d32323;
$opacityBlack: rgba(0, 0, 0, 0.3);

$roboto: 'Roboto';
$robotoBold: 'Roboto Bold';

$offWhite: #f5f5f5;
