@import '../../../../sass/abstract/vars';
@import '../../../../sass/abstract/media-queries';

.replyContainer {
  margin-top: 2rem;
  border-bottom: 1px solid $lightGrey;
  width: 92%;
  margin-left: auto;
}

.commentsTotal {
  font-family: $robotoBold;
  color: $darkNavy;
}

.userInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfoBox {
  display: flex;
  align-items: center;
}

.imgBox {
  width: 1.9rem;
}

.userImg {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.userNameBox {
  margin-left: 0.4rem;
}

.userName {
  display: block;
  color: $darkNavy;
  font-family: $robotoBold;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.userHandle {
  color: $grey;
  font-family: $roboto;
  font-size: 0.7rem;
}

.replyLink {
  color: $blue;
  font-family: $robotoBold;
  font-size: 0.9rem;
}

.replyText {
  margin-top: 2rem;
  font-family: $roboto;
  color: $lightNavy;
  line-height: 1.7rem;
  padding-bottom: 2rem;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  // font-size: 0.9rem;
}

.replyForm {
  margin-bottom: 2rem;
  @include tabletMd {
    display: flex;
    align-items: center;
  }
}

.textArea {
  width: 100%;
  background-color: $lightGrey;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: none;
  resize: none;
  outline-color: $blue;
  font-size: 1rem;
  padding: 0.5rem;

  @include tabletMd {
    width: 50%;
  }
}

.submitButton {
  margin-left: auto;
  display: block;
  background-color: $purple;
  color: $white;
  text-transform: capitalize;
  font-family: $roboto;
  border: none;
  padding: 0.6rem 0.9rem;
  border-radius: 10px;

  @include tabletMd {
    margin-bottom: auto;
  }
}

.hide {
  display: none;
}

.commentAuthor {
  color: $purple;
  font-family: $robotoBold;
}

.visibilityHidden {
  visibility: hidden;
}

.errorText {
  color: $red;
  visibility: visible;
  position: relative;
  bottom: 0.4rem;
  font-family: $roboto;
  font-size: 0.8rem;
}
.errorOutline {
  outline: 1px solid $red;
}
