@import './sass/base/reset';
@import './sass/abstract/vars';
@import './sass/abstract/media-queries';
@import './sass/base/typography';

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100vw;
  max-width: 100%;
  background-color: $lightGrey;
}

#root {
  height: 100%;
  // max-width: 1200px;
  // margin: auto;
}

.App {
  height: 100%;
}

body:not(.keyboardUser) *:focus {
  outline: none;
}
