@import './sass/base/reset';
@import './sass/abstract/vars';
@import './sass/abstract/media-queries';
@import './sass/base/typography';

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100vw;
  max-width: 100%;
  background-color: #000;
}

#root {
  height: 100%;
  // max-width: 1200px;
  // margin: auto;
}

.App {
  height: 100%;
}

.one {
  color: white;
  font-family: 'Roboto';
  // font-weight: 700;
  font-size: 2rem;
}

.two {
  color: white;
  font-family: 'Roboto Bold';
  font-size: 2rem;
}
