@import '../../../../sass/abstract/vars';
@import '../../../../sass/abstract/media-queries';

.container {
  width: 88%;
  margin: auto;
  margin-top: 1.5rem;
  padding-bottom: 2rem;

  @include mobileLandscapeXSm {
    margin-top: 0.5rem;
  }

  @include tabletMd {
    width: 70%;
  }

  @include laptop {
    padding-bottom: 4rem;
    width: 60%;
  }

  @include desktopLg {
    width: 54%;
  }
}

.goBackBtn {
  display: flex;
  align-items: center;
  width: 6.25rem;
  padding: 0.5rem 0;
  border: none;
  text-transform: capitalize;
  font-family: $robotoBold;
  font-size: 1rem;
  color: $grey;
  background-color: $lightGrey;
  cursor: pointer;

  @include laptop {
    padding: 1.5rem 0;
  }

  @include desktopXXL {
    font-size: 1.2rem;
  }
}

.goBackText {
  position: relative;
  left: 0.7rem;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom-color: $grey;
  }
}

.arrowLeft {
  width: 0.6rem;
}

.outerContainer {
  background-color: $white;
  width: 100%;
  margin-top: 3.1rem;
  border-radius: 10px;
  max-width: 700px;

  @include tabletMd {
    padding-bottom: 3.5rem;
  }

  @include tabletLg {
    margin-top: 6.1rem;
  }

  @include laptop {
    width: 78%;
    margin: 3rem auto 0 auto;
  }
}

.innerContainer {
  width: 88%;
  margin: auto;

  @include laptop {
    padding-bottom: 2rem;
    width: 74%;
  }
}

.plusSign {
  position: relative;
  bottom: 1.8rem;

  @include laptop {
    width: 4.3rem;
    bottom: 2rem;
  }
}

.formContainer {
  width: 100%;
  padding-bottom: 3rem;

  @include tabletMd {
    padding-bottom: 0;
  }
}

.formContainer h1 {
  margin-bottom: 2rem;
  font-family: $robotoBold;
  text-transform: capitalize;
  color: $darkNavy;
  font-size: 1.2rem;

  @include mobileLg {
    font-size: 1.5rem;
  }

  @include laptop {
    margin-top: 1.5rem;
  }
}

.form div:nth-of-type(2) span,
.form div:nth-of-type(3) span {
  line-height: 1.5rem;
}

.sortTitle {
  color: $white;
  font-family: $roboto;
  text-transform: capitalize;
  font-size: 1rem;
  color: $darkNavy;

  @include mobileSm {
    top: 0;
  }
}

.buttonBox {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  @include tabletMd {
    flex-direction: row-reverse;
  }

  @include laptop {
    flex-direction: row-reverse;
  }
}

.submitButton,
.cancelButton {
  font-size: 1rem;
  text-transform: capitalize;
  color: $white;
  padding: 0.7rem 0;
  border: none;
  border-radius: 10px;

  &:hover {
    opacity: 0.6;
  }
}

.submitButton {
  background-color: $purple;
  margin-bottom: 1rem;
}

.cancelButton {
  background-color: $darkNavy;

  @include tabletMd {
    margin-right: 1rem;
  }

  @include laptop {
    margin-right: 1rem;
  }
}

.submitButton,
.cancelButton {
  @include tabletMd {
    align-items: center;
    margin-bottom: 0;
    padding: 1rem 2rem;
  }

  @include laptop {
    align-items: center;
    margin-bottom: 0;
    padding: 1rem 2rem;
    cursor: pointer;
  }
}

.hide {
  display: none;
}

form div:nth-of-type(3) span:nth-of-type(2) {
  top: 0;
}

.App {
  @include tabletMd {
    overflow: hidden;
  }
}
